@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

@layer base{
    body{
        @apply bg-[#252525] text-gray-300;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
*::-webkit-scrollbar {
    display: none;
  }